table,tr,th,td:
 	{
 		border: 1 pixel solid black;
 	}
 	.col-md-2
 	{
 		padding:35px 60px;
 	} 
 	.input-group
 	{
 		text-align:left;
 		padding:15px 300px;
 	}
 	
 	.container
 	{
 		text-align:left;
 		text-indent:vertical;
 		top:50%;
 	}
 	.pager
 	{	
 		position: absolute;
 		text-indent: horizontal;
 		text-align: left;
 		top:50%;

 	}
 	.data-cont
 	{
 		
 		margin-top: 10px;
 	}
 	.table-header .table-cell
 	{
 		font-weight: bold;
 	}
 	.table-row-data:last-child .table-cell
 	{
 		border-bottom:1px solid #ccc;
 	}
 	.table-header .table-cell:last-child, .table-row-data .table-cell:last-child
 	{
 		
 		border-right:1px solid #ccc;
 	}
 	.table-cell
 	{
 		right:1.4%;
 		border-top:1px solid #ccc;
 		border-left:1px solid #ccc;
 		padding: 30px;
 	}